@{
    ViewData["Title"] = "Семантический граф";
}

<div class="text-center">
    <h1 class="display-4">Семантический граф</h1>
    <i> 
    <img src="~/mindmap.drawio.png" class="card-img" alt="..." > 
    </i>
</div>
