@{
    ViewData["Title"] = "О проекте";
}

<div class="text-center">
    <h1 class="display-4">Глоссарий терминов используемых в ВКР</h1>
    <h3 class="display-4">Студент: Косимова Нодира P4210 </h3>
</div>
