@model Termine[]
@{
    ViewData["Title"] = "Глоссарий терминов";
    int len = Model.Length;
}
<h1>@ViewData["Title"]</h1>

<div class="container">
  <div class="row justify-content-around">
    @foreach (var item in Model)
    {
        <div class="card border-primary mb-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Description</p>
        </div>
        </div>
    }
  </div>
</div>